/*
* STYLES ONLY FOR THE TABLE GENERATOR
*/
body {
  margin: 0;
}

.table-generator-app {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  position: relative;
  padding: 1rem;
}

.table-generator-app > * {
  flex: 1;
}

.mobile .posting-table {
  flex-wrap: wrap;
}

.table-preview.mobile {
  max-width: 400px;
}

.customize-table {
  max-height: 80vh;
  overflow: auto;
}

@media screen and (max-width: 500px) {
  .posting-table {
    flex-wrap: wrap;
  }

  .customize-table {
    max-height: unset;
  }
}


@media screen and (max-width: 1000px) {
  .table-generator-app {
    flex-direction: column;
  }
}

.customize-table h3 {
  display: inline-block;
  margin: 0;
}

.table-generator-app details[open] {
  margin-bottom: 1.5rem;
}

.table-generator-app summary {
  margin-bottom: 0.5rem;
}

.table-generator-app .input-group {
  margin-bottom: 0.5rem;
}

.table-generator-app .input-group:has(.instructions) {
  margin: 0.75rem 0;
}

.table-generator-app .input-group label {
  display: inline-block;
  font-weight: bold;
  margin-right: 0.25rem;
}

.table-generator-app .instructions {
  margin: 0;
  font-style: italic;
}

.generate-code {
  background-color: white;
  padding: 1rem;
  flex-basis: 100%;
}

.generate-button {
  display: block;
  margin: auto;
  padding: 1rem;
  background-color: transparent;
  font-weight: bold;
  cursor: pointer;
}

.generate-button:hover {
  background-color: #696969;
  color: white;
}

button.copy {
  cursor: pointer;
  margin-left: 0.25rem;
}

button.copy.success {
  border-color: green;
  background-color: #B8F9C0;
}

/*
* The following styles ensure that your resulting table remains mobile-compatible.
*/

.posting-table {
	width: 100%;
	max-width: 100%;
	font-weight: 500;

  position: sticky;
  top: 1rem;
  right: 1rem;

  display: flex;
  flex-wrap: nowrap;
}

.posting-table,
.posting-table * {
  box-sizing: border-box;
}

.posting-table-content {
  max-width: 100%;
  min-width: 300px;
}

@media screen and (max-width: 500px) {
  .posting-table {
    flex-wrap: wrap;
  }
}

.posting-table-image {
  object-fit: contain;
  width: auto;
  max-width: 100%;
}


/* OPTIONAL CSS BEYOND THIS POINT, FEEL FREE TO DELETE */

#posting-table-generator {
    --border-color: #000;
    --text: #000;
    --input-background: #FFF;
    --code-bg: #f5f5f5;
    --code-text: #000;
}

#posting-table-generator {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text);
}

#posting-table-generator h2 {
    margin-top: 0;
    padding-bottom: 0.25rem;
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 1rem;
}

#posting-table-generator h3 {
    margin: 0;
}

#posting-table-generator .generate-code h3 {
    margin: 0;
    margin-top: 1rem;
    margin-bottom: 0.25rem;
}

#posting-table-generator .generate-code code {
    display: block;
    color: var(--code-text);
    background-color: var(--code-bg);
    border: 1px solid var(--border-color);
    padding: 0.75rem;
    border-radius: 0.25rem;
}

#posting-table-generator details {
    border: 1px solid var(--border-color);
    margin-bottom: 0.25rem;
}

#posting-table-generator details:open {
    padding: 0.5rem;
}

#posting-table-generator details:open summary {
    padding: 0;
    margin-bottom: 1rem;
}

#posting-table-generator summary {
    padding: 0.5rem;
    margin: 0;
}

#posting-table-generator input[type=checkbox] {
    width: 15px;
    height: 15px;
}

#posting-table-generator summary,
#posting-table-generator label:has(input[type=checkbox]),
#posting-table-generator input[type=color],
#posting-table-generator select,
#posting-table-generator button {
    cursor: pointer;
}

#posting-table-generator .customize-table .input-group,
#posting-table-generator .customize-table .field-group {
    margin-bottom: 1rem;
}

#posting-table-generator label {
    display: block;
    margin-bottom: 0.25rem;
}

#posting-table-generator .instructions {
    font-size: 0.9rem;
    margin-bottom: 0.25rem;
}

#posting-table-generator textarea,
#posting-table-generator input[type=text],
#posting-table-generator input[type=number],
#posting-table-generator select,
#posting-table-generator button {
    padding: 0.25rem;
    font-size: 0.9rem;
    border-radius: 0.25rem;
    border: 1px solid var(--border-color);
    background-color: var(--input-background);
}

#posting-table-generator input[type=number] {
    max-width: 50px;
}

#posting-table-generator button {
    padding: 0.25rem 0.75rem;
}

#posting-table-generator button:hover {
    color: var(--code-text);
    background-color: var(--code-bg);
    padding: 0.25rem 0.75rem;
}

#posting-table-generator input + .unit,
#posting-table-generator input + button {
    display: inline-block;
    margin-left: 0.25rem;
}